$highlight: #ad7826;

@mixin triangle($size, $side1, $side2, $side3, $color) {
	width: 0;
	height: 0;
	border-#{$side1}: $size solid transparent;
	border-#{$side2}: $size solid transparent;
	border-#{$side3}: $size solid $color;
	
}

@import "compass/utilities";
@import "compass/reset";
@import "compass/css3";

// mixins
@import "mixins/shadows";

// typography
@import "typography/mreaves";
@import "typography/didot";
@import "typography/blaketon";

// partials
@import "partials/forms";

// import page views
@import "views/portfolio";
@import "views/modals";
@import "views/blog";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

img {
	display: block;
	max-width: 100%;
	-moz-force-broken-image-icon: 1;
}

html, body {
	height: 100%;
}

body {
	background: url("../img/site-bg.png") no-repeat fixed center center / cover #fff;
	color: #241720;
}

.page-id-573 {
	.content {
		padding: 38px 0 46px 0;
		font-family: 'Didot';
		text-align: center;
		h1 {
			margin: 0 0 22px;
			font-size: 68px;
			font-style: italic;
			text-transform: lowercase;
			+ p {
				font-size: 12px;
				letter-spacing: 1.2px;
				text-transform: uppercase;
			}
		}
		p:first-of-type {
			margin: 0 0 30px;
		}
		ul {
			margin: 20px auto 14px;
			width: 142px;
			li {
				border-bottom: 1px solid #d9d7d8;
				font-size: 12px;
				line-height: 40px;
				letter-spacing: 1.2px;
				text-transform: uppercase;
				&:last-child {
					border: none;
				}
			}
			+ p {
				font-size: 16px;
				font-style: italic;
				line-height: 26px;
				a {
					color: inherit;
				}
			}
		}
	}
}

.page-id-569 {
	.content {
		padding: 75px 128px 88px 104px;
		font-family: 'Didot';
		h1 {
			margin-bottom: 14px;
			font-size: 12px;
			letter-spacing: 1.2px;
			text-align: center;
			text-transform: uppercase;
		}
		h2 {
			margin-bottom: 1em;
			font-size: 48px;
			font-style: italic;
			text-align: center;
		}
		p {
			font-size: 22px;
			font-style: italic;
			line-height: 34px;
		}
	}
}

.connected {
	float: right;
	padding: 10px 16px 0 0;
	span {
		display: inline-block;
		padding: 0 14px 0 0;
		font: 11px 'Conv_mreavessanotreg';
		text-transform: uppercase;
		vertical-align: top;
	}
	a.share {
		display: inline-block;
		margin: 0 10px 0 0;
		height: 12px;
		@include hide-text;
		background: transparent url('../img/social.png');
		vertical-align: top;
		&.fb {
			width: 5px;
			background-position: 0 0;
		}
		&.twitter {
			width: 13px;
			background-position: -22px 0;
		}
		&.pinterest {
			width: 10px;
			background-position: -49px 0;
		}
		&.instagram {
			width: 11px;
			background-position: -74px 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

#page {
	border: 10px solid #241720;
	min-height: 100%;
	padding: 70px 0 0 0;
	position: relative;
	z-index: 1;
}

#container {
	margin: 0 auto;
	&.wide {
		width: 1020px;
	}
	
	> header {
		transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
		&.open {
			margin-bottom: 102px;
		}
		&.closed {
			margin-bottom: 0;
		}
		#site-logo {
			width: 168px;
			height: 45px;
			margin: 0 auto 40px;
			background: transparent url('../img/site-logo.png') 0 0 no-repeat;
			@include hide-text;
			a {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		[role='navigation'] {
			margin: 0 0 16px;
			text-align: center;
			a {
				position: relative;
				display: inline-block;
				padding: 0 18px;
				color: #241720;
				font: 12.5px/1 'Conv_mreavessanotreg', sans-serif;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 1.875px;
				&:hover, &.active {
					color: $highlight;
				}
				&#nav-about {
					&:hover,
					&.active {
						&:after {
							content: "";
							position: absolute;
							top: 5px;
							right: 8px;
							display: inline-block;
							@include triangle(4px, left, right, top, $highlight);
						}
					}
				}
			}
		}
	}
	#main {
		@include pie-clearfix;
		.interior {
			@include frame;
			border-color: #f6f6f6;
			background: #f6f6f6;
			.content {
				border: 1px solid #e1dfe0;
			}
		}
		.trimmings {
			@include pie-clearfix;
			position: relative;
			h1 {
				position: absolute;
				top: 35px;
				left: 390px;
				z-index: 5;
				font: italic 68px/1 'Didot';
			}
			img.banner {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 3;
			}
			.preamble {
				border-bottom: 1px solid #d1c6cc;
				margin: 0 0 40px;
				padding: 150px 0 36px 0;
				p {
					margin: 0 0 0 540px;
					width: 475px;
					font: italic 22px/34px 'Didot';
				}
			}
			.trimming-types {
				float: right;
				margin: 0 25px 42px 0;
				width: 462px;
				font: 12px/23px 'Didot';
				letter-spacing: 1.2px;
				text-transform: uppercase;
			}
			.trimmings-gallery {
				clear: both;
				li {
					@include frame;
					float: left;
					margin-bottom: 10px	;
					&:nth-child(2n + 2) {
						margin-right: 28px;
						margin-left: 26px;
					}
				}
			}
		}
		.about {
			font-family: 'Conv_mreavessanotreg';
			article {
				h1 {
					letter-spacing: 0.4px;
					text-align: center;
					text-transform: uppercase;
					em,
					span
					{
						display: block;
						margin: 5px 0 25px;
						font: italic 14px 'Didot';
						letter-spacing: 0.35px;
						text-transform: none;
					}
				}
			}
			p {
				font-size: 16px;
				line-height: 23px;
			}
			&.we-are {
				@include pie-clearfix;
				position: relative;
				h1 {
					position: absolute;
					top: 64px;
					left: 122px;
					font: italic 68px/1 'Didot';
					text-align: center;
					span {
						display: block;
						font-size: 12px;
						font-style: normal;
						letter-spacing: 1.2px;
						text-transform: uppercase;
					}
				}
				.intro {
					float: left;
					margin: 191px 0 0 0;
					width: 360px;
				}
				img {
					margin: -8px 66px 0 0;
					@include frame;
					float: right;
				    height: 530px;
					width: 449px;
				}
			}
			&.alison {
				@include pie-clearfix;
				img {
					float: left;
					margin: 44px 0 0 84px;
				}
				article {
					float: right;
					margin: 94px 153px 0 0;
					width: 360px;
				}
			}
			&.maya {
				@include pie-clearfix;
				article {
					float: left;
					margin: 138px 0 82px 84px;
					width: 360px;
				}
				img {
					float: right;
					margin: 80px 153px 0 0;
				}
			}
			&.mayaandali {
				position: relative;
				figure {
					@include frame;
					margin: 0 0 4px 349px;
					width: 620px;
				}
				h1 {
					position: absolute;
					top: 56px;
					left: -44px;
					font: italic 68px/1 'Didot';
					text-align: center;
					span {
						display: block;
						font-size: 12px;
						font-style: normal;
						letter-spacing: 1.2px;
						text-transform: uppercase;
					}
				}
			}
			&.team {
				border: 1px solid #d1c6cc;
				border-style: solid none;
				margin-bottom: 65px;
				padding: 28px 0 0 0;
				h1 {
					margin: 0 0 40px;
					font: italic 68px 'Didot';
					text-align: center;
				}
				ul {
					> li {
						@include pie-clearfix;
						margin-bottom: 65px;
						padding: 0 0 0 84px;
					}
				}
				figure {
					float: left;
					@include frame;
				}
				article {
					float: left;
					margin: 0 0 0 48px;
					padding: 22px 0 0 0;
					width: 466px;
					h2 {
						margin-bottom: 4px;
						letter-spacing: 0.4px;
					}
					h3 {
						margin-bottom: 25px;
						font: italic 14px 'Didot';
						letter-spacing: 0.35px;
					}
				}
			}
		}
	}
	.slider {
		@include frame;
	}
	.praise-you {
		.carousel-parent {
			position: relative;
			.type {
				padding-top: 10px;
				margin: 0 0 18px;
				text-align: center;
				font: italic 14px 'Didot';
			}
			#next0, #previous0 {
				bottom: 97px;
			}
			.next, .previous {
				position: absolute;
				width: 19px;
				height: 28px;
				background: url('../img/arrows.png');
				bottom: 49px;
				//@include transition(all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000));  /* ease-in-out */
				a {
					display: block;
					width: 100%;
					height: 100%;
					@include hide-text;
				}
			}
			.next {
				right: 65px;
				background-position: 0 -28px;
				&:hover {
					background-position: 0 -56px;
				}
			}
			.previous {
				left: 65px;
				background-position: 0 0;
				&:hover {
					background-position: 0 -84px;
				}
			}
			.carousel {
				position: relative;
				width: 798px;
				overflow: hidden;
				margin: 0 auto 30px;
				figure {
					position: relative;
					float: left;
					margin: 0 22px 0 0;
					@include frame;
//					box-shadow: none;
					width: 182px;
					&:nth-child(4n+4) {
						margin-right: 0;
					}
					cursor: pointer;
					figcaption {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						opacity: 0;
						background: rgba(33, 21, 29, 0.9);
						font-family: 'Didot', serif;
						text-align: center;
						@include transition(all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000));  /* ease-in-out */
						> section {
							display: table;
							width: 100%;
							height: 100%;
							> div {
								display: table-cell;
								vertical-align: middle;
								font-size: 12px;
								text-align: center;
								color: #fff;
								letter-spacing: 1.2px;
								h1 {
									padding-bottom: 6px;
									text-transform: uppercase;
								}
								h2 {
//									font-style: italic;
									text-transform: lowercase;
								}
							}
						}
					}
					&:hover figcaption {
						opacity: 1;
					}	
				}
				&.magazines {
				}
			}
		}
	}
	> footer {
		.sosumi {
			float: left;
			padding: 12px 0 0 14px;
			color: #827f7f;
			font: 10px Arial, sans-serif;
			//letter-spacing: 0.5px;
			.credits {
				font-family: 'Didot', serif;
				font-style: italic;
				letter-spacing: 0;
				a {
					color: inherit;
				}
			}
		}
		.tagline {
			clear: both;
			padding: 13px 0 35px;
			font: italic 14.5px 'Didot', serif;
			letter-spacing: 0.3625px;
			text-align: center;
		}
	}
}

#sub-nav {
	transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	> div {
		margin: 0 auto;
		width: 1020px;
		transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	}
	position: absolute;
	top: 188px;
	left: 0;
	right: 0;
	z-index: 1;
	background: #f6f6f6 url('../img/nav-shadow.png') 0 0 repeat-x;
	@include box-shadow(0 2px 3px -2px rgba(88,88,88,.25));
	//@include box-shadow(inset 0 0 4px rgba(88,88,88,.25), 0 4px 4px -4px rgba(88,88,88,.25));
	a {
		display: inline-block;
		margin: 0 32px 0 0;
		color: #241720;
		font: 12.5px/48px 'Conv_mreavessanotreg';
		letter-spacing: 1.875px;
		text-decoration: none;
		text-transform: uppercase;
		&:hover, &.active {
			color: $highlight;
		}
	}
	.slug {
		position: relative;
		display: inline-block;
		float: right;
		font: italic 15px/48px 'Didot';
		letter-spacing: 0.35px;
		&:before {
			content: "";
			display: inline-block;
			position: absolute;
			top: 25px;
			left: -470px;
			height: 1px;
			width: 436px;
			background: #e1dfe0;
		}
	}
	&.closed {
		max-height: 0;
		> div {
			max-height: 0;
			overflow: hidden;
		}
	}
	&.open {
		max-height: 48px;
		> div {
			max-height: 48px;
			overflow: auto;
		}
	}
}

.page-template-about-us-php {
	#container #main {
		margin: 0 auto;
		width: 970px;
	}
}

.contact-us {
	padding: 30px 0 0 0;
	.callout {
		float: left;
		min-height: 400px;
		padding: 0 20px 42px 20px;
		width: 238px;
		background: #f6f6f6;
		border: 10px solid #f6f6f6;
		@include box-shadow(0 0 0 1px #d9d7d8 inset, 0 0 4px rgba(88,88,88,.25));
		text-align: center;
		h1 {
			border-bottom: 1px solid #d9d7d8;
			margin-bottom: 30px;
			padding: 23px 0 0 0;
			font: italic 36px 'Didot', serif;
			span {
				display: block;
				margin: 6px 0 32px;
				font-size: 12px;
				font-style: normal;
				letter-spacing: 1.2px;
				text-transform: uppercase;
			}
		}
		.address {
			display: block;
			font: 16px/23px 'Conv_mreavessanotreg';
			&.tel {
				margin: 20px 0 22px;
			}
		}
	}
	a {
		&[href^=mailto] {
			font: italic 14px 'Didot', serif;
			color: #241720;
		}
	}
}

.page-template-trimmings-php #container {
	width: 1025px;
}